---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  title="Eric Huang"
  description="Eric Huang's digital garden"
>
  <section class="layout-container">
    <div class="prose-custom">
      <p class="text-xl leading-relaxed text-neutral-700">
        <strong class="text-black"> Welcome!</strong>
      </p>

      <p class="mt-4 text-lg text-neutral-600">
        I'm an undergrad studying Mathematics and Computer Science at Oxford. My current research focus is on math conjecture generation for automated theorem proving.

        Previously I was at Math Inc and Ariya Finergy

Running Odyssey, AIRO and have done a few other things.

Some things I love:
* growth
* Madhyamaka metaphysics
* Szemerédi regularity lemma
* blood on the clocktower 
* mathematical universe hypothesis
* univalence axiom
* Yellowstone
* ultimate frisbee
* Notes of a Crocodile, Qiu Miaojin
* Antelope Canyon
* collective intelligence
* Taipei
* The Name of the Wind, Patrick Rothfuss
* genesis
* conjecturing
* community building
* hiking
* ML with zkSNARKs

Hope these are interesting to you! I am always open to hearing new ideas and meet people, please feel free to reach out to me, for anything really--my inbox is always open.
      </p>
      All opinions are mine and not of any employer, past, present, or future. If I do my job correctly, they’ll also be yours.
    </div>
  </section>
</BaseLayout>
