---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  title="Eric Huang"
  description="Eric Huang's digital garden"
>
  <section class="layout-container">
    <div class="prose-custom">
      <p class="text-xl font-semibold text-black">hi! i'm eric :)</p>

      <p class="mt-6 text-neutral-700">
        i'm currently studying math and cs at oxford. 
      </p>

      <p class="mt-6 text-neutral-700">
        I spend a lot of time thinking about mathematical conjecture generation for automated theorem proving, leading to some <a href="https://math-inc.github.io/strongpnt" class="link">results</a>.
      </p>

      <p class="mt-6 text-neutral-700">
        somewhat orthogonally, I also care deeply about global inequality and how to build the necessary economic infrastructure so everyone has a fair chance. 
        This has led to some time working in Nairobi and my interest in startups as a vehcle for my ideas. 
      </p>

      <p class="mt-4 text-neutral-700">
        I am currently trying to figure out how to fuse my zeal for math, understanding intelligence, international development, and teaching.
      </p>

      <p class="mt-6 text-neutral-700">Here's some other things I love:</p>

      <ul class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-1 text-neutral-600">
        <li>growth</li>
        <li>Madhyamaka metaphysics</li>
        <li>Szemerédi regularity lemma</li>
        <li>blood on the clocktower</li>
        <li>mathematical universe hypothesis</li>
        <li>univalence axiom</li>
        <li>Mūlamadhyamakakārikā, Nagarjuna</li>
        <li>ultimate frisbee</li>
        <li>functional languages</li>
        <li>improv, spontaneity</li>
        <li>Notes of a Crocodile, Qiu Miaojin</li>
        <li>Antelope Canyon</li>
        <li>collective intelligence</li>
        <li>matrioshka brain</li>
        <li>organic alignment</li>
        <li>Taroko Gorge</li>
        <li>The Name of the Wind, Patrick Rothfuss</li>
        <li>genesis</li>
        <li>asking questions</li>
        <li>hosting, communities</li>
        <li>hiking</li>
        <li>ML with zkSNARKs</li>
      </ul>


      <p class="mt-6 text-neutral-700">
        Hope these are interesting to you too! I am always open to hearing new ideas
        and meeting new people, please feel free to reach out to me, for anything
        really!. You can also find me in Oxford, DC, and SF. 
      </p>


      <div class="mt-8">
        <img
          src="/homepagepic.png"
          alt="Eric Huang"
          class="rounded-lg w-full"
        />
      </div>

      <p class="mt-4 text-sm italic text-neutral-500">
        All opinions are mine and not of any employer, past, present, or future.
        If I do my job correctly, they'll also be yours.
      </p>
    </div>
  </section>
</BaseLayout>
