<footer class="layout-container mt-20 flex flex-col text-lg">
  <!-- Contact Information -->
  <div class="footer-row">
    <span>Twitter</span>
    <hr />
    <a class="link" href="https://x.com/Ericyrhuang">@ericyrhuang</a>
  </div>

  <div class="footer-row">
    <span>GitHub</span>
    <hr />
    <a class="link" href="https://github.com/ericyrhuang">@ericyrhuang</a>
  </div>

  <div class="footer-row">
    <span>Email</span>
    <hr />
    <a class="link" href="mailto:eric.huang@cs.ox.ac.uk"
      >eric.huang@cs.ox.ac.uk</a
    >
  </div>

  <!-- Webring -->
  <div class="webring-row mt-8">
    <a class="link" href="https://emilryd.com/">Emil</a>
    <span class="text-neutral-500"><==></span>
    <a class="link" href="https://0ak.hu/">Oak</a>
  </div>
</footer>

<style>
  .footer-row {
    @apply flex items-center space-x-4;
  }

  .footer-row span {
    @apply min-w-[100px] text-neutral-500;
  }

  .footer-row hr {
    @apply mt-0.5 w-full border-dotted border-neutral-300;
  }

  .webring-row {
    @apply flex items-center justify-center space-x-6;
  }
</style>
